<a href="https://colab.research.google.com/github/Mahabubjamil/ColabNotebook/blob/main/python__full_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text="ice cream"
text

'ice cream'

In [ ]:
text[1]

'c'

In [ ]:
text[0:3]

'ice'

In [ ]:
text2 = " Burger"
t= (text+text2)
t

'ice cream Burger'

In [ ]:
address= '''Bottoil
kushtia,
Bnagladesh'''
address

'Bottoil\nkushtia,\nBnagladesh'

In [ ]:
num=24
str(num)
str(num)+address

'24Bottoil\nkushtia,\nBnagladesh'

list

In [ ]:
item=["bread","Pasta","fruits","Vegetables"]
item[0:2]

['bread', 'Pasta']

In [ ]:
item[0]="rice"
item

['rice', 'Pasta', 'fruits', 'Vegetables']

In [ ]:
item[-1]

'Vegetables'

In [ ]:
item.append("chips")
item

['bread', 'Pasta', 'fruits', 'Vegetables', 'chips', 'chips', 'chips']

In [ ]:
item.insert(1,"butter")

In [ ]:
item

['bread', 'butter', 'Pasta', 'fruits', 'Vegetables', 'chips', 'chips', 'chips']

In [ ]:
bathroom_items=["shampoo","shoap"]
total_items=(item+bathroom_items)

In [ ]:
total_items

['bread',
 'butter',
 'Pasta',
 'fruits',
 'Vegetables',
 'chips',
 'chips',
 'chips',
 'shampoo',
 'shoap']

In [ ]:
len(total_items)

10

In [ ]:
"shoap" in total_items

True

If statement

In [ ]:
number=input("Enter a number :")
num= int(num)

Enter a number :25

In [ ]:
indian=["samosa","daal","naan"]
chinese=["egg role","pot sticker", "fried rice"]
italian=["pizza","pasta","risotto"]
all_dishes= (indian+chinese+italian)
dish=input("Enter a dish name :")
if dish in all_dishes:
  print("its in the list")
  if dish in indian:
    print("its an indian dish")
  elif dish in chinese:
    print("Its a chainese dish")
  elif dish in italian:
    print("its an italian dish")
else:
  print("its out of the list")

Enter a dish name :egg role
its in the list
Its a chainese dish

for statement

In [ ]:
exp= [2340,2500,2100,3100,2980]
total=0
total1=0
len(exp)
for i in exp:
  total= total + i
print(total)

13020

In [ ]:
for i in range(0,5):
  total1 = total1+exp[i]
total1

13020

In [ ]:
for i in range (1,11):
  print(i,"natural numbers: ",i)

In [ ]:
i=1
while(i<11):
  print(i)
  i= i+1

In [ ]:
number=5
for i in range(1,number+1,1):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
number= 10
for i in range(1,number+1,1):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
num=6
for i in range(1,num+1,1):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
num=2
for i in range(1,11):
  t=i*num
  print(t)

2
4
6
8
10
12
14
16
18
20

In [ ]:
numbers= [ 12, 75,150,180,145,525,50]
for i in numbers:
  if(i %5 ==0):
    if(i>150):
      continue
    elif(i>500):
      break
    else:
      print(i)

75
150
145
50

In [ ]:
num= 75869
count = 0
while num != 0:
  num = num // 10
  count = count + 1
print("Total digits are: ",count)

Total digits are:  5

In [ ]:
num=5
for i in range(0,num+1):
  for j in range(num-i,0,-1):
    print("*",end=" ")
  print("")

* * * * *
* * * *
* * *
* *
*

In [ ]:
list1 = [10,20,30,40 ]
new_list= reversed(list1)
for item in new_list:
  print(item)

40
30
20
10

In [ ]:
for i in range(-10,-1,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [ ]:
for i in range(25,50):
  if(i%2==0):
    continue
  else:
    print(i)

In [ ]:
for i in range(5):
  print(i)
print("Done!")

In [ ]:
num1,num2 = 0,1
print("Printing fibonacci number: ")
for i in range(10):
  print(num1,end=" ")

  res=num1+num2
  num1=num2
  num2=res

In [ ]:
factorial=1
print(" finding factorial of a number: ")
num=input("Enter a number: ")
num1=int(num)
if(num1<0):
  print("factorial doesn't exsist ")
elif(num1==0):
  print("The factorial of this 0 is: 1")
else:
  for i in range(1,num1+1):
    factorial=factorial*i
print("The factorial of",num1,"is", factorial)

 finding factorial of a number:
Enter a number: 5
The factorial of 5 is 120

In [ ]:
print("printing reverse number...")
sum= 0
num=input("Enter a number: ")

num1=int(num)
while num1 > 0:
  rem = num1 % 10
  sum = (sum * 10) + rem
  num1 = num1 // 10
print(sum)

printing reverse number...
Enter a number: 123
321

In [ ]:
print("finding sum of series: ")
num = 5
start = 2
seq_sum = 0

for i in range(0,num):
  print(start,end=" +")
  seq_sum += start
  start = (start*10) + 2
print("The sum of series : ",seq_sum)

2 +22 +222 +2222 +22222 +The sum of series :  24690

In [ ]:
my_list = [10,20,30,40,50,60,70,80,90,100]
for i in my_list[1::2]:
  print(i,end=" ")

20 40 60 80 100

In [ ]:
num=input("enter the limit number: ")
num1 = int(num)
for i in range(1,num1+1):
  print("the current number=",i,"the qube is = ",i*i*i)

enter the limit number: 3
the current number= 1 the qube is =  1
the current number= 2 the qube is =  8
the current number= 3 the qube is =  27

In [ ]:
print("Functions")

def calculate_total(a):
  total = 0
  for i in a:
     total = total + i
  return total

mj_exp_list = [1200,200,460,550]
viks_exp_list = [2000,4500,100,20]

mj_total_exp = calculate_total(mj_exp_list)
viks_total_exp = calculate_total(viks_exp_list)
print("Total expenses of mj and viks: ",mj_total_exp,",", viks_total_exp)

Functions
Total expenses of mj and viks:  2410 , 6620

In [ ]:
def sum(num1,num2):
  total = 0
  total = num1 + num2
  return total

sumation = sum(11,24)
print(" The sum is: ",sumation)

 The sum is:  35

In [ ]:
def calculate_area(base,height,shape ="bal"):
  if( shape == "triagle"):
    area = 0
    area = (1/2)*base*height

  elif( shape == "rectangle"):
    area = base*height
  else:
    print("Error>>>")
  return area

area_triangle = calculate_area(10,13,"triagle")
print("area of a triangle : ", area_triangle)
area_rectangle = calculate_area(10,13,"rectangle")
print("area of a rectangle : ", area_rectangle)

area of a triangle :  65.0
area of a rectangle :  130

In [ ]:
def calculate_area(dimension1,dimension2,shape="triangle"):
    '''
    :param dimension1: In case of triangle it is "base". For rectangle it is "length".
    :param dimension2: In case of triangle it is "height". For rectangle it is "width".
    :param shape: Either "triangle" or "rectangle"
    :return: Area of a shape
    '''
    if shape=="triangle":
        area=1/2*(dimension1*dimension2) # Triangle area is : 1/2(Base*Height)
    elif shape=="rectangle":
        area=dimension1*dimension2 # Rectangle area is: Length*Width
    else:
        print("Error: Input shape is neither triangle nor rectangle.")
        area=None # If user didn't supply "triangle" or "rectangle" as shape then return None
    return area

base=10
height=5
triangle_area=calculate_area(base,height,"triangle")
print("Area of triangle is:",triangle_area)

# Calculate area of a rectangle whose length is 20 and width is 30
length=20
width=30
rectangle_area=calculate_area(length,width,"rectangle")
print("Area of rectangle is:",rectangle_area)

Area of triangle is: 25.0
Area of rectangle is: 600

In [ ]:
def star(n):
  for i in range(1,n+1):
    for j in range(1,i+1):
      print("*",end=" ")
    print("\r")

star(4)
print(star)

*
* *
* * *
* * * *
<function star at 0x7f94ee5c5af0>

In [ ]:
def print_n(name,age):
  print("The name is: ",name)
  print("The age :",age)

printing = print_n("mahabub", 23)
print(printing)

The name is:  mahabub
The age : 23
None

In [ ]:
def fun1(*arg):
  for i in a

20
40
50

20

In [ ]:
def re_fun(start,limit):
  sum = 0
  for i in range(start,limit):
    sum = sum + i
  print(sum)

re_fun(1,11)

55

**call function with different name: **

In [ ]:
def display_fun(name,age):
  print("Name: ",name,"Age :",age)

display_fun("Mahabub", 23)

show_fun = display_fun

show_fun("Showvik", 21)

Name:  Mahabub Age : 23
Name:  Showvik Age : 21

***list***

In [ ]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [ ]:
def list_largest (list_num):

    max_num = max(list_num)

    return max_num


list_num = [5,14,25,2,-1,89]

highest_num=list_largest(list_num)

print(f"highest number from the list {list_num} is = {highest_num}")

print("*"*50)

highest number from the list [5, 14, 25, 2, -1, 89] is = 89
**************************************************

In [ ]:
#multiple line print or comment..
''' i am mahabub jamil showvik
wants to be a python developer''' #multiline comment

print('''hy i am so closed to be a python developer>>
i wants to develop so many things''')

hy i am so closed to be a python developer>>
i wants to develop so many things

In [ ]:
#finding types of variable...
a = 5
b = "mj_vicks"
c = 3.86

print(type(a),"\n",type(b),"\n",type(c))

<class 'int'>
 <class 'str'>
 <class 'float'>

In [ ]:
# comperision operator

'''lets assume a variable that will compare 2 integars and show output
in boolian'''

num = (10>3)
print(num)

True

In [ ]:
#testing logical operators...and, or, not

bool1 = True
bool2 = False
print(bool1 and bool2)
print(bool1 or bool2)
print(not bool2)

False
True
True

In [ ]:
#type casting:

a = "6830"
print(type(a))
a = int(a)
print(type(a))
b = a + 80
print(b)

<class 'str'>
<class 'int'>
6910

In [ ]:
# user input:
def user_input(a):
  a=input("enter any thing: ")
  print(a)

user_input("g")

enter any thing: mahabub
mahabub

In [ ]:
#string operations :
first_name = "Mahabub "
last_name = "Jamil"
full_name = first_name + last_name
print(full_name) #string addition
print(full_name[0:3])
print(full_name[2:-1])

print(len(full_name)) #finding length of a string
print(last_name.endswith("l")) #testing string ends
print(full_name.count("a")) #counting words from the string

Mahabub Jamil
Mah
habub Jami
13
True
3

In [ ]:
#replacing strings:
massege = '''<Name>
congrats! you are selected
                        <Date>'''
name = input("Enter name :")
date = input("Enter date : ")
massege = massege.replace("<Name>",name)
massege = massege.replace("<Date>",date)
print(massege)

Enter name :mj
Enter date : 17 july
mj
congrats! you are selected
            17 july

In [ ]:
# find function in string
st = "life is an experiance  just enjoy it"
double_space = st.find("  ")
print(double_space) #result will show as index
st = st.replace("  ",",")
print(st)

21
life is an experiance,just enjoy it

In [ ]:
#list operation:

list1 = [2,5,8,0]
print(list1[1])
list1[3] = 9 #list value change
print(list1)
list2 = ["mj", True, 3.2]
list3 = list1 + list2 #list addition
print(list3)
list3[1:4] #list slicing

5
[2, 5, 8, 9]
[2, 5, 8, 9, 'mj', True, 3.2]

[5, 8, 9]

In [ ]:
list1.append(10)
list1

[2, 5, 8, 9, 10, 10, 10]

In [ ]:
list1.insert(5,7)
list1

[2, 5, 8, 9, 7]

In [ ]:
list1.sort()
print(list1)

[2, 5, 7, 8, 9]

In [ ]:
list1.reverse()
print(list1)

[2, 5, 7, 8, 9]

Tuples are immutable = it can't be changed.

In [ ]:
t1 = () #empty tuples
t2 = (1,) # 1 element tuples
t3 = (2,4,7,0,6,0,7) # many element tuples

'''we can not add or delete from a tuples so there are some sort of functions are
available like count and index = value searching...'''

print(t3.count(0))
print(t3.index(2)) #searching index using value..

2
0

In [ ]:
#dictonary :
new_dic = {
    " name": "mahabub jamil showvik",
    "hobbies":{"playing":"cricket","arts":"drawing","food":"Briyani"},
    "dreams" : "wants to be a python developer",
    "cgpa": [3.98,3.57,3.94,3.86,3.72,4]

}
old_dic = {
    "schools":"proteeti school kushtia",
    "college": "kushtia govt college"
}
print(new_dic["hobbies"]["playing"])
print(new_dic["dreams"])
print(new_dic["cgpa"])
new_dic.update(old_dic)
print(new_dic)

cricket
wants to be a python developer
[3.98, 3.57, 3.94, 3.86, 3.72, 4]
{' name': 'mahabub jamil showvik', 'hobbies': {'playing': 'cricket', 'arts': 'drawing', 'food': 'Briyani'}, 'dreams': 'wants to be a python developer', 'cgpa': [3.98, 3.57, 3.94, 3.86, 3.72, 4], 'schools': 'proteeti school kushtia', 'college': 'kushtia govt college'}

In [ ]:
print(list(new_dic.keys()))

[' name', 'hobbies', 'dreams', 'cgpa', 'schools', 'college']

In [ ]:
print(list(new_dic.values()))

['mahabub jamil showvik', {'playing': 'cricket', 'arts': 'drawing', 'food': 'Briyani'}, 'wants to be a python developer', [3.98, 3.57, 3.94, 3.86, 3.72, 4], 'proteeti school kushtia', 'kushtia govt college']

***set operation***

In [ ]:
a = {2,5,7,4,3,2}
print(type(a))

<class 'set'>

In [ ]:
print(a) #set has no repeated number...

{2, 3, 4, 5, 7}

In [ ]:
#adding elements..
a.add(8)
a.add(0)
print(a)
b = (1,2,3,5)
a.add(b)
print(a)
a.remove(b)
print(a)

{0, 2, 3, 4, 5, 7, 8, (1, 2, 3, 5)}
{0, 2, 3, 4, 5, 7, 8, (1, 2, 3, 5)}
{0, 2, 3, 4, 5, 7, 8}

In [ ]:
my_dic = {
    "alo" : "potato",
    "juta": "shoes",
    " pakha": "Fans",
    "dim" : "Egg"
}
print("available translation ",my_dic.keys())
word = input("Enter the key word :")
print("The translation of the word : ",my_dic.get(word))

available translation  dict_keys(['alo', 'juta', ' pakha', 'dim'])
Enter the key word :dim
The translation of the word :  Egg

In [ ]:
# ushing f string...
num = 5
for i in range(1,11):
  print(f'{num} x {i} = {num * i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#conditional statement...
# finding length of string

text =  input("Enter a string: ")
length = len(text)

if(length > 10):
  print("YEs the length is greater")
else :
  print("NOOO...this shit not that big thogh..")

Enter a string: fuck
NOOO...this shit not that big tho..

In [ ]:
#finding something from the list...
food = ["rice", "egg_fry", "samosa","Biriyani", "salad"]
print( "Ror finding dish plz enter a dish name...:")
dish = input("Name: ")
if(dish in food):
  print("Dish is available")
else:
  print("OPPs out of stock")

Ror finding dish plz enter a dish name...:
Name: rice
Dish is available

In [ ]:
for i in range(1,10):
  if(i%2==0):
    continue
  print(i)

1
3
5
7
9

In [ ]:
name = ["harry","shown", "jack", "tarbis"]
for i in name:
 if i.startswith("h"):
   print("Hello", i)

Hello harry

In [ ]:
#small functions

def greet(name):
  print("good day",name)

greet("mj")

good day mj

In [ ]:
def aveg(sum):
  return sum/n
sum = 0
n = int(input("Enter the marks list no. :"))
for i in range(1,n+1):
  marks = int(input("Marks :"))
  sum = sum + marks

aveg(sum)

Enter the marks list no. :3
Marks :24
Marks :18
Marks :23

21.666666666666668

In [ ]:
def sum(num1,num2):
  sum = 0
  sum = num1 + num2
  return sum
sum(3,6)

In [ ]:
# project - snake , water and gun Game..

import random

def Game(comp,you):
  if  comp == you:
    return None
  elif comp == 's':
    if you == 'w':
      return False
    elif you == 'g':
      return True
  elif comp == 'w':
    if you == 'g':
      return False
    elif you == 's':
      return True
  elif comp == 'g':
    if you == 's':
      return False
    elif you == 'w':
      return True

random_num = random.randint(1,3)
print("Computer's Turn : Snake(s),Gun(g),Water(w)...?")
if random_num == 1:
  comp ='s'
elif random_num == 2:
  comp = 'g'
elif random_num == 3:
  comp = 'w'

you = input("your turn : snake(s),Gun(g),water(w)...? : ")

play = Game(comp,you)

print(f"computer chosse : {comp}")
print(f"you chosse : {you}")
if play == None:
  print("Match tie")
elif play == True:
  print("You won the match..!!")
else:
  print("Opps you lost...")

Computer's Turn : Snake(s),Gun(g),Water(w)...?
your turn : snake(s),Gun(g),water(w)...? : g
computer chosse : g
you chosse : g
Match tie

***modules***

In [ ]:
import math

In [ ]:
math.sqrt(4)

2.0

In [ ]:
math.pow(3,3)

27.0

In [ ]:
dir(math)

In [ ]:
math.pi

3.141592653589793

In [ ]:
math.log10(100)

2.0

In [ ]:
math.floor(2.3)

2

In [ ]:
math.ceil(2.3)

3

In [ ]:
#using calander

In [ ]:
import calendar

In [ ]:
cal = calendar.month(2016,3)
print(cal)

     March 2016
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
calendar.isleap(2022)

False

In [ ]:
dir(calendar)

In [ ]:
#writhing own module

In [ ]:
def area(base,height):
  return  1/2 *(base*height)

In [ ]:
a = area(5,4)
print(a)

10.0

In [ ]:
#working with jeson

In [ ]:
book = {}
book ['tom'] = {
    'name' : 'tom',
    'address' : '1 red street, NY',
    'phone' : 763687829
}

book ['bob'] = {
    'name' : 'bob',
    'address' : '1 green street, NY',
    'phone' : 674962936

}

import json
s = json.dumps(book)
with open ("C:\\Users\\DCL\\Desktop\\Courses\\data\\books.txt","w") as f:
  f.write(s)

In [ ]:
book = {}
book ['tom'] = {
    'name' : 'tom',
    'address' : '1 red street, NY',
    'phone' : 763687829
}

book ['bob'] = {
    'name' : 'bob',
    'address' : '1 green street, NY',
    'phone' : 674962936

}

import json
s = json.dumps(book)
print(s)

{"tom": {"name": "tom", "address": "1 red street, NY", "phone": 763687829}, "bob": {"name": "bob", "address": "1 green street, NY", "phone": 674962936}}

In [ ]:
f = open("C:\\Users\\DCL\\Desktop\\Courses\\data\\books.txt","r")
string = f.read()
string

'{"tom": {"name": "tom", "address": "1 red street, NY", "phone": 763687829}, "bob": {"name": "bob", "address": "1 green street, NY", "phone": 674962936}}'

In [ ]:
book = json.loads(string)
book

{'tom': {'name': 'tom', 'address': '1 red street, NY', 'phone': 763687829},
 'bob': {'name': 'bob', 'address': '1 green street, NY', 'phone': 674962936}}

In [ ]:
book ['bob']['phone']

674962936

In [ ]:
for person in book:
  print(book[person])

{'name': 'tom', 'address': '1 red street, NY', 'phone': 763687829}
{'name': 'bob', 'address': '1 green street, NY', 'phone': 674962936}

***Dictionary exercies***

In [ ]:
import operator
dic = {
    1:2,
    3:4,
    4:3,
    2:1,
    0:0
}
print("original dictonary : ",dic)

original dictonary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

In [ ]:
sorted_dic = sorted(dic.items(),key = operator.itemgetter(1))
print("Dictonary in ascending order by value : ",sorted_dic)

Dictonary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]

In [ ]:
sorted_dic = dict ( sorted(dic.items(), key = operator.itemgetter(1),reverse = True))
print("Dictonary in descending order : ",sorted_dic)

Dictonary in descending order :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
dir(operator)

In [ ]:
#adding key to dictonary

d = {
    0: 10,
    1: 20,
}
print(d)
d.update({
    2:30
})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

In [ ]:
#Write a Python script to concatenate the following dictionaries to create a new one.

In [ ]:
# concatanateing dictonarires
dic1 = { 1:10, 2: 20}
dic2 = { 3: 30, 4:40}
dic3 = { 5: 50, 6: 60}
dic4 = {}
for item in (dic1, dic2,dic3):
  dic4.update(item)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
dic5 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  if x in dic5:
    print("key is present in the dictonary")
  else :
    print( "key is not present...")
  return x

is_key_present(5)

key is present in the dictonary

5

In [ ]:
# Write a Python program to iterate over dictionaries using for loops

In [ ]:
d = { 'x':10, 'y': 20, 'z':30}
for dict_key,dict_value in d.items():
  print(dict_key, '->',dict_value)
print(d.items())

x -> 10
y -> 20
z -> 30
dict_items([('x', 10), ('y', 20), ('z', 30)])

In [ ]:
#Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

In [ ]:
n = int(input("Enter a number : "))
d = dict()

for x in range(1,n+1):
  d[x]=x*x

print(d)

Enter a number : 3
{1: 1, 2: 4, 3: 9}

In [ ]:
d = dict()
for x in range(1,16):
  d[x] = x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#Write a Python script to merge two Python dictionaries

In [ ]:
dic1 = { 1:3, 4:0, 5:3 }
dic2 = { 6:1, 7:9, 1:4 }
dic1.update(dic2)
print(dic1)

{1: 4, 4: 0, 5: 3, 6: 1, 7: 9}

In [ ]:
# this will apply when we have more than 2 dictionaries
dic3 = {}
for item in (dic1,dic2):
  dic3.update(item)
print(dic3)

{1: 4, 4: 0, 5: 3, 6: 1, 7: 9}

In [ ]:
d = dic1.copy()
d.update(dic2)
print(d)

{1: 4, 4: 0, 5: 3, 6: 1, 7: 9}

In [ ]:
d = {'Red' : 1, 'Green': 2, 'Blue': 3}
for color_key, value in d.items():
  print(color_key,'corresponding to ', d[color_key])

Red corresponding to  1
Green corresponding to  2
Blue corresponding to  3

In [ ]:
d = { 'a' : 12, 'b': 23, 'c': 34}
for alpha_key,value in d.items():
  print(alpha_key,"corrosponding to",d[alpha_key])

a corrosponding to 12
b corrosponding to 23
c corrosponding to 34

In [ ]:
my_dict = {'data1': 100, 'data2': -54, 'data3' : 247 }
print(sum(my_dict.values()))

293

In [ ]:
result = 1
for key in my_dict:
  result = result *my_dict[key]

print(result)

-1333800

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
myDict = { 'a': 1, 'b': 2,'c': 3,'d': 4}
print(myDict)
if 'a' in myDict:
  del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a Python program to map two lists into a dictionary.

In [ ]:
keys = ['red','green', 'blue']
values = ['#FF0000','#00800','#0000FF']
color_dictonary = dict(zip(keys,values))
print(color_dictonary)

{'red': '#FF0000', 'green': '#00800', 'blue': '#0000FF'}

In [ ]:
# Write a Python program to sort a given dictionary by key.

In [ ]:
color_dictonary = {'red': '#FF0000',
                   'green': '#00800',
                   'blue': '#0000FF'
                   }
for key in sorted(color_dictonary):
  print("%s:%s" % (key,color_dictonary[key]))

blue:#0000FF
green:#00800
red:#FF0000

In [ ]:
# Write a Python program to get the maximum and minimum values of a dictionary.

In [ ]:
my_dict = {'x': 500, 'y': 5874, 'z':560}

key_max = max (my_dict.keys(), key =(lambda k: my_dict[k]))
key_min = min (my_dict.keys(), key =(lambda k: my_dict[k]))
print("maximum Value", my_dict[key_max])
print("Minmun Value", my_dict[key_min])

maximum Value 5874
Minmun Value 500

In [ ]:
my_dict = { 8: 'mj', 10: "showvik", 6 : "mahabub"}
for key in sorted(my_dict):
  print('%s:%s'%(key,my_dict[key]))

6:mahabub
8:mj
10:showvik

In [ ]:
# Write a Python program to get a dictionary from an object's fields.

In [ ]:
class dictObj(object):
    def __init__(self):
      self.x = 'red'
      self.y = 'green'
      self.z = 'yellow'
test = dictObj()
print(test.__dict__)

{'x': 'red', 'y': 'green', 'z': 'yellow'}

In [ ]:
# Write a Python program to remove duplicates from the dictionary
student_data = {
    'id1':{'name':['sara'],
          'class': ['V'],
          'subject_integration': ['english','math','science']
},
  'id2':{
      'name': ['david'],
      'class' : ['V'],
      'subject_integration': ['english','math','science']
  },

  'id3':{'name':['sara'],
          'class': ['V'],
          'subject_integration': ['english','math','science']
},
  'id4': {
      'name':['suriya'],
      'class': ['V'],
      'subject_integration': ['english','math','science']
  }

}
result = {}
for key,value in student_data.items():
  if value not in result.values():
    result[key] = value
print(result)

{'id1': {'name': ['sara'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']}, 'id2': {'name': ['david'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']}, 'id4': {'name': ['suriya'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']}}

In [ ]:
my_dict = {'id1': 3}

if not bool(my_dict):
  print("dictionary is empty")
else:
  print(my_dict.values())

dict_values([3])

In [ ]:
# Write a Python program to combine two dictionary by adding values for common keys.
from collections import Counter
d1 = {'a' : 100, 'b' : 200, 'c' : 300}
d2 = { 'a' : 300, 'b' : 200, 'c' : 400}

d = Counter(d1) + Counter (d2)
print(d)
for i in sorted(d):
 print('%s %s'% (i,d[i]))

Counter({'c': 700, 'a': 400, 'b': 400})
a 400
b 400
c 700

In [ ]:
# Write a Python program to print all distinct values in a dictionary.
l = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print("original list: ",l)
u_value = set(val for dic in l for val in dic.values())
print("Unique Values: ",u_value)

original list:  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
Unique Values:  {'S009', 'S002', 'S005', 'S001', 'S007'}

In [ ]:
# Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.
import itertools
d_data = { '1' : ['a','b'],
          '2' : ['c','d']}
for combo in itertools.product(*[d_data[k] for k in sorted(d_data.keys())]):
  print(''.join(combo))

In [ ]:
# Write a Python program to find the highest 3 values of corresponding keys in a dictionary.

In [ ]:
from heapq import nlargest
my_dict = { 'a': 500, 'b': 5874, 'c': 560, 'd': 400, 'e' : 5874, 'f' : 20 }
three_largest = nlargest(3,my_dict, key = my_dict.get)
print(three_largest)

['b', 'e', 'c']

In [ ]:
dir(itertools)

In [ ]:
# Write a Python program to combine values in a list of dictionaries.

In [ ]:
from collections import Counter
item_list = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
result = Counter()
for i in item_list:
  result[i['item']] += i['amount']
print(result)

Counter({'item1': 1150, 'item2': 300})

In [ ]:
# Write a Python program to create a dictionary from a string.
from collections import defaultdict, Counter
str1 = "Mahabub jamil Showvik"

my_dict = {}
for letter in str1:
  my_dict[letter] = my_dict.get(letter,0) + 1
print(my_dict)

{'M': 1, 'a': 3, 'h': 2, 'b': 2, 'u': 1, ' ': 2, 'j': 1, 'm': 1, 'i': 2, 'l': 1, 'S': 1, 'o': 1, 'w': 1, 'v': 1, 'k': 1}

In [ ]:
my_dict = { 'c1': [1,2,3], 'c2':[5,6,7],
           'c3': [9,10,11] }
for row in zip(*([key] + (value) for key,value in sorted(my_dict.items()))):
  print(*row)

c1 c2 c3
1 5 9
2 6 10
3 7 11

In [ ]:
# Write a Python program to count the values associated with a key in a dictionary.
student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]

print(sum(d['id'] for d in student))
print(sum(d['success'] for d in student))

6
2

In [ ]:
#  Write a Python program to convert a list into a nested dictionary of keys.
num_list = [1,2,3,4]
new_dict = current = {}
for name in num_list:
  current[name] = {}
  current = current [name]
print(new_dict)

{1: {2: {3: {4: {}}}}}

In [ ]:
countryPopulation = { 'USA': 328_200_000, 'France': 67_000_000,'Chaina': 1_393_000_000}
sorted_key = {k: v for k,v in sorted(countryPopulation.items())}
sorted_val = {k: v for k,v in sorted(countryPopulation.items(),key = lambda v: v[1])}
print(sorted_key)
print(sorted_val)

{'Chaina': 1393000000, 'France': 67000000, 'USA': 328200000}
{'France': 67000000, 'USA': 328200000, 'Chaina': 1393000000}

In [ ]:
# Write a Python program to sort a list alphabetically in a dictionary.
num = {'n4': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
sorted_dict = {x: sorted(y) for x,y in (num.items())}
print(sorted_dict)

{'n4': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [ ]:
# Write a Python program to remove spaces from dictionary keys.
student_list = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}
print("oroginal dictonary: ",student_list)
student_dict = {x.translate({32: None}): y for x,y in student_list.items()}
print(student_dict)

oroginal dictonary:  {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}
{'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

In [ ]:
# Write a Python program to get the top three items in a shop.
from heapq import nlargest
from operator import itemgetter
item = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
for name, value in nlargest(3,item.items(),key = itemgetter(1)):
  print(name,value)

item4 55
item1 45.5
item3 41.3

In [ ]:
#for writing a file - it will over write
day = open("C:\\Users\\DCL\\Desktop\\Courses\\day.txt","w")
day.write("it is a nice day so far")
day.close()

In [ ]:
#for append a file - it will add to the file
day = open("C:\\Users\\DCL\\Desktop\\Courses\\day.txt","a")
day.write("\n And i am very glad for that")
day.close()

In [ ]:
#for read a file - it will read the file
day = open("C:\\Users\\DCL\\Desktop\\Courses\\day.txt","r")
print(day.read())
day.close()

it is a nice day so farit is a nice day so far
 And i am very glad for that

In [ ]:
# line by line read
day = open("C:\\Users\\DCL\\Desktop\\Courses\\day.txt","r")
for line in day:
  tokens = line.split(' ')
  print(str(tokens))
  print(len(tokens))
day.close()

['it', 'is', 'a', 'nice', 'day', 'so', 'farit', 'is', 'a', 'nice', 'day', 'so', 'far\n']
13
['', 'And', 'i', 'am', 'very', 'glad', 'for', 'that']
8

In [ ]:
# get a output and print it to a new file
day = open("C:\\Users\\DCL\\Desktop\\Courses\\day.txt","r")
new_day = open( "C:\\Users\\DCL\\Desktop\\Courses\\day.txt","w")
for line in day:
  tokens = line.split(' ')
  new_day.write(" word_count " + str(len(tokens) +line))
day.close()
new_day.close()

**Exception_handling**

In [ ]:
#exception handling is when error occures try to fixed it.

1/0

ZeroDivisionError: ignored

In [ ]:
"abc" + 3

TypeError: ignored

In [ ]:
x = input("Enter number1 :")
y = input("Enter number2 :")
try:
  z = x/int(y)
except ZeroDivisionError as e:
  print("Division by zero exception")
  z = None
except Exception as e:
  print("exception type : ",type(e).__name__) # generic process of finding error name
  z = None
print("Division is :", z)

Enter number1 :1
Enter number2 :3
exception type :  TypeError
Division is : None

In [ ]:
a = input("Enter 1st number: ")
b = input("Enter second Number :")
try:
  sum = a + int(b)
except Exception as e:
  print('Exception type :',type(e).__name__)
  sum = None

Enter 1st number: 3
Enter second Number :
Exception type : ValueError

In [ ]:
from logging import exception
num1 = input("Enter a number : ")
try:
  sum = num1 + 5
except TypeError as e:
  print("Type error exception")
  sum = None
print("The sum is :", sum)

Enter a number : 3
Type error exception
The sum is : None

***Class and object***

In [ ]:
class Human:
  def __init__(self,n,o):      # declearing proparties of class
    self.name = n
    self.occupation = o

  def do_work(self):          #declearing methods of a class
    if self.occupation == "tennis player":
      print(self.name,"plays tennis")
    elif self.occupation == "actor":
      print(self.name,"shoots a film")
  def speaks(self):
    print(self.name,"How are you ?")

tom = Human("tom cruise","actor")    #creating some instance and using class
tom.do_work()
tom.speaks()


maria = Human("maria sharapova", "tennis player")
maria.do_work()
maria.speaks()

tom cruise shoots a film
tom cruise How are you ?
maria sharapova plays tennis
maria sharapova How are you ?

In [ ]:
# class

class Human1:
  def __init__(self,name,work):
    self.name = name
    self.work = work
  def do_work(self):
    if self.work == 'job':
      print(self.name,"works at company")
    elif self.work == 'student':
      print(self.name,"goes to college")

mj = Human1("mj","job")
mj.do_work()

mj works at company

***Inheritance***

In [ ]:
class Vehicle:
  def general_useage(self):
    print("general use : transportation")


class Car(Vehicle):
  def __init__(self):
    print("I am a car")
    self.wheels = 4
    self.has_roof = True

  def specific_usage(self):
    print("specifinc use: commute to work, vacation with family")

class MotorCycle(Vehicle):
  def __init__(self):
    print("I am a motor cycle")
    self.wheels = 2
    self.has_roof = False

  def sepicific_usage(self):
    print("specific use : road trip and bike raceing")

c = Car()
c.general_useage()
c.specific_usage()

motor_cycle = MotorCycle()
motor_cycle.general_useage()
motor_cycle.sepicific_usage()

I am a car
general use : transportation
specifinc use: commute to work, vacation with family
I am a motor cycle
general use : transportation
specific use : road trip and bike raceing

In [ ]:
#anoter way to call the parant class method
class Vehicle:
  def general_useage(self):
    print("general use : transportation")


class Car(Vehicle):
  def __init__(self):
    print("I am a car")
    self.wheels = 4
    self.has_roof = True

  def specific_usage(self):
    self.general_useage()
    print("specifinc use: commute to work, vacation with family")

class MotorCycle(Vehicle):
  def __init__(self):
    print("I am a motor cycle")
    self.wheels = 2
    self.has_roof = False

  def sepicific_usage(self):
    self.general_useage()
    print("specific use : road trip and bike raceing")

c = Car()
#c.general_useage()
c.specific_usage()

motor_cycle = MotorCycle()
#motor_cycle.general_useage()
motor_cycle.sepicific_usage()

I am a car
general use : transportation
specifinc use: commute to work, vacation with family
I am a motor cycle
general use : transportation
specific use : road trip and bike raceing

In [ ]:
# finding instance of class and subclass
print(isinstance(c,Car))
print(issubclass(Car,Vehicle))
print(isinstance(c,MotorCycle))
print(isinstance(motor_cycle,MotorCycle))

True
True
False
True

***multiple_inheritance***

In [ ]:
class Father():
  def gardening(self):
    print("I enjoy gardening")

class Mother():
  def cooking(self):
    print("I love cooking")

class Child(Father,Mother):
  def sports(self):
    print("I enjoy sports")

c = Child()
c.gardening()
c.cooking()
c.sports()

I enjoy gardening
I love cooking
I enjoy sports

In [ ]:
# same name methods inharitance
class Father():
  def skills(self):
    print("gardening, programming")

class Mother():
  def skills(self):
    print("cooking,art")

class Child(Father,Mother):
  def skills(self):
    Father.skills(self)
    Mother.skills(self)
    print("sports")

c = Child()
c.skills()

gardening, programming
cooking,art
sports

**Raise_Exception**

In [ ]:
try:
  raise MemoryError("memory error")
except MemoryError as e:
  print(e)

memory error

In [ ]:
#user defined exception using class
class Accident(Exception):
  def __init__(self,msg):
    self.msg = msg
  def print_Exception(self):
    print("User defined exception",self.msg)


try:
  raise Accident("Crash code")
except Accident as e:
  e.print_Exception()

User defined exception Crash code

**finally_statement**

In [ ]:
#it will always execute code in finally block no metter what !!
def process_file():
  try:
    f = open("path")
    x = 1/0
  except FileNotFoundError as e:
    print("inside except")
  finally:
    print("cleaning up file")
    f.close()

**Build_in_iterators_methods**

In [ ]:
a = ['hey', " i " ,'am ', 'mahabub']
itr = iter(a)
itr
next(itr)
next(itr)

' i '

In [ ]:
itr = reversed(a)
next(itr)
next(itr)

'am '

**Remote_control_class**

In [ ]:
class Remot_control:
  def __init__(self):
    self.channels = [ "HBO", "CNN", 'N_tv']
    self.index = -1

  def __iter__(self):
    return self

  def __next__(self):
    self.index += 1
    if self.index == len(self.channels):
      raise StopIteration

    return self.channels[self.index]

f = Remot_control()
itr = iter(f)
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))

HBO
CNN
N_tv

StopIteration: ignored

***Generator***

In [ ]:
def remote_control_next():
  yield 'CNN' #yield work as return but it dont return all together,return seperately.
  yield 'ESPN'

itr = remote_control_next()
next(itr)

'CNN'

In [ ]:
def sum():
  num1 = 5
  num2 = 6
  sum1 = num1+num2
  mul = num1*num2
  yield sum1
  yield mul

itr = sum()
next(itr)
next(itr)
#another way
for i in sum():
  print(i)

11
30

In [ ]:
def fib():
  a,b = 0,1
  while True:
    yield a
    a,b = b,a+b
for f in fib():
  if f>50:
    break
  print(f)

0
1
1
2
3
5
8
13
21
34

***list_comprihension***

In [ ]:
#sample code
numbers = [1,2,3,4,5,6]
even = []
for i in numbers:
  if i %2 ==0:
   even.append(i)
print(even)

[2, 4, 6]

In [ ]:
#comprihensive code
even = [i for i in numbers if i%2==0]
even

[2, 4, 6]

In [ ]:
sqr_numbers=[i*i for i in numbers]
sqr_numbers

[1, 4, 9, 16, 25, 36]

In [ ]:
#set comprihension

s = set([1,2,3,3,4,6,7])
s

{1, 2, 3, 4, 6, 7}

In [ ]:
even = {i for i in s if i%2==0}
even

{2, 4, 6}

In [ ]:
#dictonary comprihentaion
cities = ['mumbai','new york','paris']
countries = ['india','USA','France']
z = zip(cities,countries)
z
for a in z:
  print(a)

('mumbai', 'india')
('new york', 'USA')
('paris', 'France')

In [ ]:
d = {country:city for city,country in zip(cities,countries)}
d

{'india': 'mumbai', 'USA': 'new york', 'France': 'paris'}

In [ ]:
#fozen set
fs = frozenset({1,2,3,4})
fs.add(7)

AttributeError: ignored